<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <input type="checkbox" id="check">
        <label for ="check">
           <mat-icon id ="btn">menu</mat-icon>
        <mat-icon id = "cancel">clear</mat-icon>
        </label>
    <div class="sidebar csss-selector">
        <header></header><br><br>
        <ul>
           <li><a routerLink="/" >Covid19</a></li>
            <li><a routerLink="/helpline_no.">Helpline No.</a></li>
            <li><a routerLink="/about_us">About Us</a></li>
            <li><a routerLink="/references">References</a></li>

        </ul>
    </div>
