<div>
    <h1 style="text-align:justify;font-family: 'Arial', Helvetica, sans-serif;color: linen;margin: 0 5px;">
        There’s currently no treatment specifically approved for COVID-19, and no cure for an infection,
        although treatments and vaccines are currently under study.
        Instead, treatment focuses on managing symptoms as the virus runs its course.
        Seek medical help if you think you have COVID-19. <br>
        Your doctor will recommend treatment for any symptoms or 
        complications that develop and let you know if you need to seek emergency treatment.
        Other coronaviruses like SARS and MERS are also treated by managing symptoms.In some cases,
         experimental treatments have been tested to see how effective they are.</h1>
<div style="text-align:left;font-family: 'Arial', Helvetica, sans-serif;color: linen;margin: 0 5px;">
    <h1>Examples of therapies used for these illnesses include:</h1>
    <ul>
        <li><h2>antiviral or retroviral medications</h2><li>
        <li><h2>breathing support, such as mechanical ventilation</h2></li>
        <li><h2>steroids to reduce lung swelling</h2></li>
        <li><h2>blood plasma transfusions</h2></li></ul></div></div><br>
        <h1 style="text-align:left;font-style: oblique;margin-left:20px;"><a style="text-decoration: none;" href="https://www.who.int/news-room/detail/24-08-2020-172-countries-and-multiple-candidate-vaccines-engaged-in-covid-19-vaccine-global-access-facility" 
            target="_blank">Covid-19 Vaccine</a></h1>
<br>
<div class="container"> 
    <iframe [src]="treatmenturl" class="responsive-iframe" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope;" ></iframe>
</div>
<br>
