<div style="font-family: Arial, Helvetica, sans-serif;margin: 10px 10px;text-align: justify;color:linen;">
    <h1>People with COVID-19 have had a wide range of symptoms reported – ranging 
    from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus.
    People with these symptoms may have COVID-19:</h1>
</div>
<br>
<div style="text-align: center;margin: 10px auto;">  
    <img src= "./assets/symptom8.png" style="max-width: 100%;">
</div>
<br>
<div style="text-align: center;margin: 10px auto;">
    <iframe  [src]="symptomsurl" frameborder="0" class="responsive-iframe" allow="accelerometer; autoplay; encrypted-media; gyroscope;  allowfullscreen"></iframe>
</div>
