     #who{
      max-width:600px;
      border:thin solid #444;
      line-height: 30px;
      border-radius: 5px;
      color : #EEE;
      text-align: center;
      margin: 4% auto;
      padding: 30px 0;
      background-color: #111;
      }

@media screen and (max-width:600px){
     #who{
      max-width:100%;
      border:thin solid #444;
      line-height: 30px;
      border-radius: 5px;
      color : #EEE;
      text-align: center;
      margin: 4% 5%;
      padding: 30px 0;
      background-color: #111;
     }
     }
   
