<div style="text-align:center;margin: auto;">
    <div id="who">
    <h1>Rohit-Sagar Covid App</h1>
    <h1><a href="https://bit.ly/Covid-19-apk" target="_blank" style="text-decoration: none;"> https://bit.ly/Covid-19-apk</a></h1>
</div>
<div id="who">
    <h1>Ashok Patel Covid App</h1>
    <h1><a href="https://bit.ly/covid-19trackerbyashok" target="_blank" style="text-decoration: none;">https://bit.ly/covid-19trackerbyashok</a></h1>
 </div>
<div id="who">
    <h1>World Health Organization</h1><h1>(WHO)</h1>
    <h1><a href="https://www.who.int" target="_blank" style="text-decoration: none;">https://www.who.int</a></h1>
 </div>
 <div id="who">
    <h1>Navigation And Sidebar Animation</h1>
    <h1><a href="https://www.gradient-animator.com/" target="_blank" style="text-decoration: none;">https://www.gradient-animator.com/</a></h1>
 </div>