
<div id="about">
    <h1>This app provides the covid-19 numerical data of any country,
    any indian state and district.User can get the covid19 information such as 
    symptoms,precautions and helpline no. etc. This app also provides covid19 data in visualize form  so user can easily understand it.</h1>
</div>
<br>
<div style="text-align: center;margin: 0 auto;color: linen;">
    <h1 style="display: inline;">Developed by: &nbsp;</h1>
    <h1 style="display:inline;">Sunil Joshi</h1>
</div>
<div class="hover">
    <div><span class="TOOLTIP">LINKEDIN</span><p><a href="https://linkedin.com/in/sunil-joshi-1ab83315a" target="_blank"><i class="fa fa-linkedin-square" style="font-size:60px;color:yellow"></i></a></p></div>
    <div><span class="TOOLTIP">GITHUB</span> <p> <a href="https://github.com/iamsunil25" target="_blank"><i class="fa fa-github" style="font-size:60px;color:hotpink"></i></a></p></div>
    <div><span class="TOOLTIP">CODEPAN</span><p><a href="https://codepen.io/jsunil_25" target="_blank"><i class="fa fa-codepen" style="font-size:60px;color:green"></i></a></p></div>
    <div><span class="TOOLTIP">GMAIL</span><p><a href="mailto:suniljoshi4984@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-size:60px;color:blue;"></i></a></p></div>
</div>
<br>

